@page
@model IndexModel
@inject ThePizzaProject.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}
<audio controls autoplay>
    <source src="/sound/Osipov-Kamarinskaya.mp3" type="audio/mp3" />
</audio>

<div class="pizzaContent">
@foreach (var pizza in Model.MyPizzas ?? Model.Pizzas)
{
	<div class="pizzabox">
			 <div class="pizza-title">
		<h2>@pizza.PizzaName</h2>
		</div>
			<img src="https://shared.cdn.smp.schibsted.com/v2/images/1ef1386d-8ad2-4efc-8bc5-3c66feac6bb8?fit=crop&h=442&w=600&s=a3fff248ecfb772e3e3e7705e09761377a96fd2d" class="pizzaImg">
			 <span class="pizzaIngredients">
			@foreach (var ingredient in pizza.PizzaIngredients)
			{
					<span>
						@ingredient.Ingredient.IngredientName</span>

								<span>, </span>
				
			}
			</span>
	</div>
}
</div>

<h2>Here you can uploads pictures @accessControl.LoggedInAccountName!</h2>

<form method="post" enctype="multipart/form-data">
	<input type="file" name="photo">
	<button type="submit">Upload Photo</button>
</form>

<h2>Your Photos</h2>
@foreach (var url in Model.PhotoURLs)
{
	<img src="@url" style="width: 250px">
}

@if (Model.PhotoURLs.Count == 0)
{
	<p>You have not uploaded any photos yet.</p>
}

<p> MpM Development </p>


