@page
@model IndexModel
@inject ThePizzaProject.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}
@*<div class="menu-buttons">
    <div class="top-buttons">
        <button id="green" onclick="window.location.href='https://localhost:5000/CreatePizza'">Bake your Pizza</button>
        <button id="white" onclick="window.location.href='https://localhost:5000/RandomePizza'">Feel Lucky</button>
        <button id="red" onclick="window.location.href='https://localhost:5000/FindMyPizza'">Find me a pizza</button>
    </div>
    <h1 class="greeting">
        Benvenuto, @accessControl.LoggedInAccountName!
    </h1>
</div>*@



<p> MpM Development </p>


