@page
@model IndexModel
@inject ThePizzaProject.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}
<header>
    <h1>Welcome, @accessControl.LoggedInAccountName!</h1>

</header>
<body>
    <button> Lägg till pizza </button>
</body>
<footer>
    <p> Made by Paul, Marie & Martin </p>
</footer>

