@page
@model IndexModel
@inject ThePizzaProject.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}
<audio controls autoplay>
    <source src="/sound/Osipov-Kamarinskaya.mp3" type="audio/mp3" />
</audio>



<p> MpM Development </p>


