@page
@model ThePizzaProject.Pages.ThePizzaPage.IndexModel
@{
}

@*Pizzan som klickades på antingen i FindMyPizza eller inne på en annan användares "Profil" 
    
*@
<h1>@Model.Pizzas.User.Name</h1>

<h2>Rating ⭐⭐⭐⭐⭐</h2>

<div class="">
    <h2>@Model.Pizzas.PizzaName</h2>
    <img src="https://shared.cdn.smp.schibsted.com/v2/images/1ef1386d-8ad2-4efc-8bc5-3c66feac6bb8?fit=crop&h=442&w=600&s=a3fff248ecfb772e3e3e7705e09761377a96fd2d" class="pizzaImg">
    <div class="ingredient-list">
    <ul>
        @foreach (var pizzaIngredient in @Model.Pizzas.PizzaIngredients)
        {
            <li>@pizzaIngredient.Ingredient.IngredientName, </li>
        }
    </ul>
    </div>

    <form>
        <input type="text" />
    </form>

    <button @*Skicka skiten till tränings API*@>Träna bort skiten</button>
</div>