.container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#ingredientCategory {
    text-align: center;
}

#ingredient {
    flex-basis: calc(100% / 3 - 10px);
    background-color: #ccc;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.dough {
    position: relative;
    background-image: url('/PizzaIngredientPics/PizzaDough.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: black;
    padding: 20px;
}

.bottomSauce {
    position: relative;
    background-image: url('/PizzaIngredientPics/PizzaSauce.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
}

.cheese {
    position: relative;
    background-image: url('/PizzaIngredientPics/Cheese.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
}

.protein {
    position: relative;
    background-image: url('/PizzaIngredientPics/Meat.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: black;
    padding: 20px;
}

.vegetable {
    position: relative;
    background-image: url('/PizzaIngredientPics/Vegetable.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
}

.sauce {
    position: relative;
    background-image: url('/PizzaIngredientPics/PizzaToppingSauce.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
}

.bakeButton {
    text-align: center;
    padding: 20px;
}

.bakeButton button {
    height: 50px;
    width: 160px;
}

@media (max-width: 767px) {
    .item {
        flex-basis: calc(100% / 2 - 10px); /* Adjust as needed for smaller screens */
    }
}