
.pizza-rating input[type="radio"] {
    display: none;
}
.pizza-rating {
    position: relative;
    width: 40px;
    height: 200px;
    margin-left: 150px;
    margin-bottom: 80px;
    margin-top: -80px; /* Adjust this value as needed */
    transform: rotate(54deg);
}

.pizza-submit {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: block;
    background: linear-gradient(90deg, rgba(17,120,9,1) 0%, rgba(255,254,254,1) 50%, rgba(169,16,16,1) 100%);
}

.rating-line-container {
    display: flex;
    align-items: center;
}

.pizza-slice-display {
    margin-right: 5px; /* Adjust spacing between pizza slices if needed */
}

.pizza-rating label {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    background-image: url('https://www.svgrepo.com/show/425861/pizza.svg');
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.pizza-rating input[type="radio"]:checked + label {
    background-image: url('https://www.svgrepo.com/show/425861/pizza.svg');
}

#slice1 + label {
    transform: translateX(100px) rotate(-72deg) translateY(-50px);
}

#slice2 + label {
    transform: translateX(100px) rotate(-360deg) translateY(-50px);
}

#slice3 + label {
    transform: translateX(100px) rotate(-288deg) translateY(-50px);
}

#slice4 + label {
    transform: translateX(100px) rotate(-216deg) translateY(-50px);
}

#slice5 + label {
    transform: translateX(100px) rotate(-144deg) translateY(-50px);
}

#slice1:hover + label {
    transform: translateX(100px) rotate(-72deg) translateY(-30px);
}

#slice2:hover + label {
    transform: translateX(100px) rotate(-360deg) translateY(-30px);
}

#slice3:hover + label {
    transform: translateX(100px) rotate(-288deg) translateY(-30px);
}

#slice4:hover + label {
    transform: translateX(100px) rotate(-216deg) translateY(-30px);
}

#slice5:hover + label {
    transform: translateX(100px) rotate(-144deg) translateY(-30px);
}

#slice1.clicked + label {
    transform: translateX(100px) rotate(-72deg) translateY(-30px);
}

#slice2.clicked + label {
    transform: translateX(100px) rotate(-360deg) translateY(-30px);
}

#slice3.clicked + label {
    transform: translateX(100px) rotate(-288deg) translateY(-30px);
}

#slice4.clicked + label {
    transform: translateX(100px) rotate(-216deg) translateY(-30px);
}

#slice5.clicked + label {
    transform: translateX(100px) rotate(-144deg) translateY(-30px);
}

#workoutList{

    width: 100%;
}

#workoutList p {
    
    font-weight: bold;
}