@page
@model ThePizzaProject.Pages.CreatePizza.IndexModel
@{
}

<form action="">
    @foreach (var ingredient in Model.Ingredients)
    {
        <label for="@ingredient.IngredientID">@ingredient.IngredientName</label>
        <input type="checkbox" name="ingredients" value="@ingredient.IngredientID" id="@ingredient.IngredientName">
    }
</form>