@page
@model ThePizzaProject.Pages.CreatePizza.IndexModel
@{
}
<form action="">
    <label for="ost">Ost</label>
    <input type="checkbox" name="ost">

    <label for="bröd">Bröd</label>
    <input type="checkbox" name="bröd">

</form>